<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timelapse_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Timelapse_Creator.Properties.Settings>
            <setting name="SourceFolder" serializeAs="String">
                <value>C:/Timelapse</value>
            </setting>
            <setting name="PreprocessEveryNthImage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreprocessBrightThreshold" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="TimelapseEveryNthImage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimelapseResolutionX" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="TimelapseResolutionY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="TimelapseFPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>192.168.0.123</value>
            </setting>
            <setting name="FTPBasePath" serializeAs="String">
                <value>/home/ftp/sdcard/Camera1</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>admin</value>
            </setting>
        </Timelapse_Creator.Properties.Settings>
    </userSettings>
</configuration>